# =================================
# Application
# =================================
APP_NAME=TimeHub
NODE_ENV=

# =================================
# Database
# =================================
DATABASE_URL="sqlserver://localhost:1433;database=th;integratedSecurity=true;trustServerCertificate=true"

# =================================
# Better Auth
# =================================
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=2dc632f193d3395bbd8d6ef2bad7e3aa6439e95ac6cdafeb4507725d9f9d41d7

# =================================
# Planio OAuth
# =================================
AUTH_PLANIO_BASE_URL=https://xxx.planio.de
AUTH_PLANIO_CLIENT_ID=
AUTH_PLANIO_CLIENT_SECRET=
AUTH_PLANIO_SCOPES=view_issues,view_time_entries,log_time,edit_own_time_entries,manage_project_activities

# =================================
# Future Integrations
# =================================
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=

# OPENAI_API_KEY=